<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">teacher-works</h1>
    <h2 class="text-white">新人教員のための授業レビューサイトです</h2>
    <h2 class="text-white">さあ、最高の授業を作り上げましょう！</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to '新機会員登録', new_user_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'ログイン', login_path ,class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>
